body {
  position: relative;
  color: #FFF !important;
  background-color: #030D21 !important;
  font-size: 16px;
}

.bold {
  position: relative;
  font-weight: bold;
}

.uppercase {
  position: relative;
  text-transform: uppercase;
}